.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  place-items: center;
}

.product-card {
  /* max-width: 40vw; */
  width: min(40vw, 250px);
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* object-fit: contain; */
  overflow: hidden;
  padding: 10px;

  border: 1px solid black;
}

.product-card img {
  max-width: 100%;
  /* height: 100%; */
  height: auto;
  /* max-height: 70%; */
  max-height: 200px;
}

.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
